@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --mainColor: #008374;
  --secondColor: #f96f59;
  --border: 2px solid black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
}

header {
  /* border: var(--border); */
  height: 80vh;
  background-color: var(--mainColor);
}

.headerContainer {
  height: 70vh;
  width: 100%;
  margin: 0 auto;
  background-color: var(--mainColor);
  display: grid;
  grid-gap: 1%;
  grid-template-rows: 1fr 6fr;
}

.topHeaderContainer{
  width: 100%;
  height: 6.5%;
  background-color: var(--mainColor);
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
}

.headerContainer .topHeaderContainer .topHeader {
  /* border: var(--border); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1%;
  position: fixed;
  background-color: var(--mainColor);
  z-index: 2;
  width: 70%;

}

.headerContainer .topHeader .topHeaderLeft {
  /* border: var(--border); */
  width: 10%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer .topHeader .topHeaderLeft a {
  color: white;
  font-size: 1.9em;
  font-weight: 600;
  margin-left: 5;
}

.headerContainer .topHeader .topHeaderLeft a span {
  color: var(--secondColor);
  font-size: 1em;
  font-weight: 900;
}

.headerContainer .topHeader .topHeaderRight ul {
  /* border: var(--border); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer .topHeader .topHeaderRight ul li a.active {
  color: white;
  opacity: 100%;
  border-bottom: 2px solid var(--secondColor);
}

.headerContainer .topHeader .topHeaderRight ul li a {
  color: white;
  opacity: 60%;
  font-size: 1.3em;
}

.headerContainer .topHeader .topHeaderRight ul li a:hover {
  color: white;
  opacity: 100%;
  border-bottom: 2px solid var(--secondColor);
}

.headerContainer .topHeader .topHeaderRight ul li select {
  color: white;
  opacity: 60%;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
}

.headerContainer .topHeader .topHeaderRight ul li select:hover {
  color: white;
  opacity: 100%;
  border-bottom: 2px solid var(--secondColor);
}

.headerContainer .middleHeader {
  /* border: var(--border); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
}

.headerContainer .middleHeader .middleHeaderLeft {
  /* border: var(--border); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerContainer .middleHeader .middleHeaderLeft h1 {
  color: white;
  font-size: 3em;
  font-weight: bold;
}

.headerContainer .middleHeader .middleHeaderLeft p {
  color: white;
  opacity: 70%;
  font-size: 1.1em;
  margin: 2% 0;
}

.headerContainer .middleHeader .middleHeaderLeft .buttonHeader {
  /* border: 1px solid white; */
  height: 20%;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.headerContainer
  .middleHeader
  .middleHeaderLeft
  .buttonHeader
  .buttonHeaderlefItem1 {
  border: 1px solid rgba(255, 255, 255, 0.478);
  width: 40%;
  height: 50%;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.478);
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.254);
  cursor: pointer;
}

.headerContainer
  .middleHeader
  .middleHeaderLeft
  .buttonHeader
  .buttonHeaderleftItem2 {
  width: 40%;
  height: 50%;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.641);
  font-size: 1.5em;
  cursor: pointer;
}

.headerContainer
  .middleHeader
  .middleHeaderLeft
  .buttonHeader
  .buttonHeaderlefItem1:hover {
  border: 1px solid white;
  color: white;
}

.headerContainer
  .middleHeader
  .middleHeaderLeft
  .buttonHeader
  .buttonHeaderleftItem2:hover {
  color: white;
}

.headerContainer
  .middleHeader
  .middleHeaderLeft
  .buttonHeader
  .buttonHeaderItem2
  i {
  margin-right: 2%;
  font-size: 1.3em;
}

.headerContainer .middleHeader .middleHeaderRight {
  display: flex;
  justify-content: center;
}

.bottomHeader {
  /* border: var(--border); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2%;
  background-color: none;
  place-items: center;
  width: 70%;
  height: 20vh;
  margin: 0 auto;
}

.bottomHeader .bottomHeaderItem {
  /* border: var(--border); */
  height: 25vh;
  width: 100%;
  border-radius: 2em;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50%;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
  color: white;
  font-size: 1.5em;
}

.bottomHeader .bottomHeaderItem:hover{
  background-color: #06b39e;
}

.bottomHeader .bottomHeaderItem div i {
  font-size: 1.7em;
}

.about h1{
  text-align: center  ;
  font-size: 2.5em;
}

.about h1 span{
  border-bottom: 3px solid var(--mainColor);
}

.about p{
  margin-top: 1%;
}


.about .aboutContainer{
  /* border: var(--border); */
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0%;
  margin: 2.5% auto;
}

.about .aboutContainer .aboutLeft{
  text-align: center;

}

.about .aboutContainer .aboutLeft img{
  width: 90%;
  height: 50%;
  border-radius: 2em;
  margin: 3% 0px;
}

.about .aboutContainer .aboutLeft p{
  width: 90%;
  text-align: justify;
  margin: 2% auto;
  font-size: small;
  color: rgba(0, 0, 0, 0.438);
}

.about .aboutContainer .aboutRight{
  /* border: 1px solid rgb(192, 42, 42); */
  margin: 0 auto;

}

.about .aboutContainer .aboutRight p{
  width: 90%;
  text-align: justify;
  margin: 2% auto;
  font-size: small;
  color: rgba(0, 0, 0, 0.438);
}

.about .aboutContainer .aboutRight ul{
  font-size: small;
  width: 90%;
  margin: 0 auto;
  line-height: 2em;
}

.about .aboutContainer .aboutRight ul i{
  color: var(--mainColor);
  margin-right: 2%;
}

.about .aboutContainer .aboutRight img{
  width: 90%;
  height: 50%;
  border-radius: 2em;
  margin: 3% 5%;
}

/* ----------------------------------------------------------------------partie service---------------------------------------------------- */

.service{
  /* border: var(--border); */
  width: 70%;
  height: 70vh;
  margin: 0 auto;

}

.service h1{
  text-align: center  ;
  font-size: 2.5em;
  margin-bottom: 5%;
}

.service h1 span{
  border-bottom: 3px solid var(--mainColor);
}

.service .serviceContainer{
  /* border: var(--border); */
  display: grid;
  grid-template-columns: 30% 30% 30% ;
  gap: 5%;
}

.service .serviceContainer .serviceContainerItems{
  /* border: 1px salmon solid; */
  height: 20vh;
  border-radius: 2em;
  padding-left: 2%;
  padding-bottom: 3%;
  box-shadow: 0px 8px 5px 1px rgba(0,0,0,0.39);
-webkit-box-shadow: 0px 8px 5px 1px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 8px 5px 1px rgba(0,0,0,0.39);
}

.service .serviceContainer .serviceContainerItems:hover{
  color: white;
  background-color: var(--mainColor);
}

.service .serviceContainer .serviceContainerItems .titleIcon{
  /* border: 1px darkblue solid; */
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service .serviceContainer .serviceContainerItems .titleIcon .icon{
  background-color: rgba(0, 0, 0, 0.144);
  height: 45%;
  width: 15%;
  border-radius: 50%;
  padding-top: 2%;

}

.service .serviceContainer .serviceContainerItems .titleIcon .icon i{
  font-size: 2.5em;
}

.service .serviceContainer .serviceContainerItems .titleIcon .title{
  font-size: 1.5em;
  font-weight: 600;
} 

.service .serviceContainer .serviceContainerItems .titleIcon .title span{
  border-bottom: 3px solid rgba(0, 0, 0, 0.212);
}

.service .serviceContainer .serviceContainerItems .detailReadMore{
  /* border: 1px solid darkcyan; */
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service .serviceContainer .serviceContainerItems .detailReadMore .detail{
  font-weight: 300;
}

.service .serviceContainer .serviceContainerItems .detailReadMore .readMore a{
  color: var(--mainColor);
}

/* ------------------------------partie portefolio--------------------------------- */

.portefolio{
  /* border: 1px solid red; */
  width: 70%;
  height: vh;
  margin: 0 auto;
}

.portefolio .menu{
  /* border: var(--border); */
  width: 40%;
  margin: 0 auto 2% auto;
}

.portefolio .menu ul{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  place-items: center;

}

.portefolio .menu ul li a{
  color: black;
}

.portefolio .menu ul li a:hover{
  color: var(--mainColor);
}

.portefolio h1{
  text-align: center  ;
  font-size: 2.5em;
  margin-bottom: 5%;
}

.portefolio h1 span{
  border-bottom: 3px solid var(--mainColor);
}

.portefolio .portfolionContainer{
  /* border: var(--border); */
  height: 90%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
}


.portefolio .portfolionContainer .portfolionContainerItems{
  /* border: var(--border); */
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portefolio .portfolionContainer .portfolionContainerItems:hover{
  background-color: #06b39f70;
  
}

.portefolio .portfolionContainer .portfolionContainerItems .image{
  height: 80% ;
}

.portefolio .portfolionContainer .portfolionContainerItems .image img{
  height: 100%;
  width: 100%;
}



.portefolio .portfolionContainer .portfolionContainerItems .detail{
  height: 20% ;
}

.portefolio .portfolionContainer .portfolionContainerItems .detail h4{
  margin: 3% auto;
}

.portefolio .portfolionContainer .portfolionContainerItems .detail p{
  color: rgba(0, 0, 0, 0.473);
  font-weight: 700;
}


/* ------------------------------------------------partie team------------------------------- */


.container{
  /* border-bottom: 2px solid #a2a2a2; */
  /* border: 1px solid black; */
  width: 70%;
  margin: 15% auto;
}

.container h1{
  text-align: center  ;
  font-size: 2.5em;
}

.container h1 span{
  border-bottom: 3px solid var(--mainColor);
}

.team{
  text-align: center;
  margin-top: 10%;
}
.team p{
  color: #a2a2a2;
  
}
.team h2{
  padding: 1%;
  /* border: 1px solid red; */
  padding-bottom:0px ;
  margin-bottom: -2px;
  margin-right:40%;
  margin-left:40%;
}
hr{
  border: 2px solid #008374;
  margin:  1% 49%;
}

.element{
 display: flex;
 justify-content: space-between ;
 margin-top: 40px;
}

.profil{
  box-shadow: 0.1px 0.1px 5px black;
  border-radius: 2px;
  width: 20% ;
}

.profil:hover{
  background-color: #06b39f5b;
}

.profil img{
  background-color: #CBCBCB;
  margin-top: 2%;
  width: 92%;
  border-radius: 2px;
}
.name{
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  padding-top: 2px;
}
.name span{
  color:#a2a2a2 ;
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
}
.info ul{
display: grid;
grid-template-columns: 4fr 4fr 4fr 4fr;
place-items: center;

}
.info ul li{
  /* border: 1px solid #a2a2a2; */
  list-style: none;
  border-radius: 50% ;
  margin-bottom: 30px;
  padding: 5% 1%;
  margin: 0px 10%;
}

.info ul li i{
  font-size: 1.5em;
}

@media screen and (max-width: 767px) {
  .element{
    display: block;
   }
   .profil{
      width: 90%;
      margin-bottom: 5%;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .element{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
    grid-gap: 20px
  }
  .profil{
    width: 50%;
  
  
  }
}
/* ------------------------------------pricing----------------------------------------------- */


.pricing h1{
  text-align: center;
  margin-bottom: 5%;
  text-decoration: 2px underline #008374;
  text-underline-offset: 15px;
}

.plan{
  /* border: 1px solid red; */
   width: 70%;
   height: 50vh;
   margin:0 auto;
   background-color: #f6f6f6;
   display: flex;
   margin-bottom: 5%;
   

  
 }

.container h1{
  text-align: center  ;
  font-size: 2.5em;
}

.container h1 span{
  border-bottom: 3px solid var(--mainColor);
}

 .free{
     box-shadow: 0.1px 0.1px 5px black;
     border-radius: 2%;
     width: 35%;
     height: 100%;
     padding-left: 5%;
     font-size: 1em;
     line-height: 2em;
    
  
 }
 .free h4{
  display: inline;
  width: 30%;
  margin-top: 10%;
  font-size: 2em;
  color: #9A9A9A; 

 }
 .free p{
     color: #A3A4A7;
 }
 .icon{
  place-items: center;
 }
 .money{
    place-items:center ;
 }
 .barre{
     text-decoration: line-through;
     color: #a2a2a2;
 }
 sup{
     color: #F85A40;
     font-weight: bolder;
     font-size: 12px;
 }
 .montant{
     font-weight: bolder;
     font-size: 20px ;
     color: #F85A40;
 }
 
 .business{
     box-shadow: 0.1px 0.1px 5px black;
     border-radius: 2%;
     width: 35%;
     height: 110%;
     margin-top: -2%;
     text-align: center;
     font-size: 14px; 
     color: #a2a2a2;
     border: 2px solid #008374;
     /* margin-top: -2%; */
     line-height: 2em;
     padding-top: 5%;
 
 }
 .business h5{
    display: inline;

     width: 30%;
     margin-top: 10%;
     font-size: 2em;
     color: #9A9A9A; 
 }
 button{
     border-radius: 2em;
     border: 1px solid #008374;
     color: #008374;
     margin-bottom: 5%;
     margin-top: 3%;
     padding: 2px 5px;
     margin-left: 19%;
 }
 .business button{
     margin-top: 20%;
 }
/* media queries pricing */
@media screen and (max-width: 767px) {
  .plan{
    display: block;
    }
    .business {
      margin-top: 5%;
      margin-bottom: 5%;
      width: 90%;
    }
    .free{
      width: 90%;
    }
}


/* --------------------------------partie faq-------------------------------------------------------------- */
.containerFaq{
  /* background-color: red; */
  width: 70%;
  margin: 15% auto;
}

.bloc{
  /* border: var(--border); */
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5%;
  margin: 5% 0;
  padding: 1%;
 }
 details{
     box-shadow: 0.1px 0.1px 10px black;
     
     height: 12%;
     padding-left: 1%; 
    
     margin-bottom: 25px;
     
     
 }
 .left p{
     font-size: 14px;
    
     margin-top: -13px;
     padding-left: 2%;
 }
 .left p span{
     color: #008374;
 }
 p i{
     float: right;
     margin-right: 2%;
 }
 .why{
     font-weight: bold;
     padding-bottom: 2%;
     padding-top: 2%;
   
 }
 .lor{
     color: #a2a2a2;
 }

 .bloc h2{
  padding: 1%;
  /* border: 1px solid red; */
  padding-bottom:0px ;
  margin-bottom: -2px;
  margin-right:40%;
  margin-left:40%;
}

.containerFaq h1{
  text-align: center  ;
  font-size: 2.5em;
}

.containerFaq h1 span{
  border-bottom: 3px solid var(--mainColor);
}
/* media queries faq */
@media screen and (max-width: 767px) {
  .bloc{
  
    display: block;

   }
}


/*----------------------------------------blog--------------------------------------------------- */

h6 ,.ml{
  color:grey;
}


.main{
  padding: 20px;
  width: 100%;
  height: 100%;

}
.blog h2,p{
  text-align: center;
  margin-top: 2%;
}
hr{
  border: 2px solid #008374;
  margin: 0 48%;
}
.Contenu{
  width: 70%;
  display: grid;
  gap: 20px;
  grid-template-columns: 4fr 4fr 4fr;
  margin-left: 85px;
  margin: 2% auto;
  
}
.Contenu .bb{


  border-radius: 50%;
  width: 30px;
  height: 23px;
 padding: 5px 10 0 0;
}
.nono{
  margin-left: 722px;
  font-size: 32px;
 
}




*.content {
 
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}
*.content img {
  width: 100%;            
  height: 200px;      
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 15px;
  transition: transform 0.3s ease;  
}


*.content p {
  margin: 10px 0;
}


.nom{
 margin-left: 50px;
 margin-top: -40px;
}
.ma{
  padding-left:22px;
  border-radius: 35px;
  background-color:#008374;

 
  /* border: 10px solid turquoise; */
}
/* media queries */
@media screen and (max-width: 767px) {
  .Contenu{
    display: block;
  }
}




/*----------------------------------------- section contact----------------------------------------------- */
/* Styles de base */

.contact {
  color:black;
  text-align: center;
  padding: 20px 0;
  
}

.contact h1 {
  font-size: 24px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  
  margin: 0 auto;
  /* border: var(--border); */
  width: 70%;
  
}

.contact-form {
  display: flex;
  /* flex-direction: column;
  gap: 10px;
  width: 900px;  */
  margin: 0 auto;
  height: 80%;
}
.form-rowb{
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  gap: 10px;
  width: 900px; 
  margin: 5px auto;
}

.form-row {
  display: flex;
  align-items: center; 
  width: 800px;
}

.form-rown {
  display: flex; 
  width: 390px; 
}

.form-rowm {
  display: flex;
  align-items: center; 
  margin-left: 410px;
  margin-top: -54px;
  width: 390px;
}


input[type="text"],
input[type="email"],
input[type="texts"],
textarea {
  flex: 2; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 110px;
  
}

/* .form-row,.form-rowm{ 
  margin-top: 12px;
}
.form-rown{
  margin-top: 72px;
} */

button {
  padding: 10px 20px;
  background-color: #008374;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 340px;
  margin-top: 12px;
  
}


.contact-info, .contact-form {
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 5px;
}
.contact-info{
  background-color: #008374;
  width: 400px;
  
  height: 80%;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.trait{
  width: 80px;
  font-weight: bold;
  margin-left: 730px;
}


.der{
  margin-top: 2px;
  border: 1px solid transparent ;
  border-radius: 50%;
  padding-right: 4%;
  padding-left: 4%;
  width: 20px;
  height: 30px;
  background-color: #cccccc76;
  font-size: 12px;
  
}
.ic {
  padding-top: 7px;
  margin-left: -7px;
  margin-bottom:-5px;
  color: #fff;

}

#m{
 margin-top: 1px;

}
#g{
  margin-top: -30px;
  
}
#o{
  margin-top: -22px;
}

#x{
  margin-top: -20px;
}
.contact-item{
  display: grid;
  
}
.loc1{
  margin-left: 50px;
 margin-top: -32px;
 width: 300px;
 color: #fff;
 font-size: 15px;
 

}
.loc2{
  margin-left: 50px;
 margin-top: -12px;
 width: 300px;
 color: #fff;
 font-size: 15px;
 

}

.loc3{
  margin-left: 50px;
 margin-top: -32px;
 width: 300px;
 color: #fff;
 font-size: 15px;
 

}


.loc4{
  margin-left: 50px;
 margin-top: -32px;
 width: 300px;
 color: #fff;
 font-size: 15px;
 

}
/* media queries contact */
@media screen and (max-width: 767px) {
  .contact-grid{
    display: block;
   
  }
  .contact-form{
    width: 90%;
  }
  .contact-info{
    width: 90%;
  }
}

/*---------------------------------------- footer -------------------------------------------------- */

.footer{
  background-color: #008374;
}

.parents{
  align-items: center;
  padding-top: 32px;
  padding-right: 2px;
  box-sizing: content-box;
  display: flex;
  background-color: #008374;
  color: #fff;
  padding-left: 22px;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 52px;
  width: 70%;
  margin: 0 auto;
  
}
.sous-parents1{
  margin-top: -92px;
  
}
.h1{
  font-size: 12px;

}
.icon{
 display:flex;
 gap: 20px;
 
}
.icon1, .icon2, .icon3, .icon4, .icon5{
  /* padding: 5px; */
  padding:10px 15px ;
  border: 1px solid #fff;
  border-radius: 50%;
  align-items: center;
}
.sous-parents1{
  align-items: center;
  font-size: 12px;
}
.mi{
  margin-left: 82px;
}
.milieu{
  align-items: center;
  font-size: 12px;
  margin-left: 9px;
}
.m{
  
  font-size: 18px;
}
.jus{

  font-size: 18px;
}
.just{
  margin-left: 262px;
}
.just-milieu{
  font-size: 12px;
}
.fin{
  margin-left: 302px;
  margin-bottom: 15px;
}
.f{
  font-size: 18px;
}
.s{
  font-size: 12px;
}
.copyright{
 margin-bottom: -250px;
 margin-left: -770px;
 font-size: 12px;
}
.flic{
  padding: 9px ;
  padding-bottom: 1px;
  padding-top: 4px;
  background-color: #F85A40;
  font-size: 15px;
  margin-left: 700px;
  border: 1px solid ;
  border-radius: 50%;
}
/* media queries footer */
@media screen and (max-width: 767px) {
  .parents{
    display: block;
   
  }
}


/* -------------------------------------------------------mediaqueries---------------------------------------- */

@media screen and (max-width: 767px) {

  header{
    height: 150vh;
    width: 100%;
  }

  .headerContainer{
    width: 85%;
  }
  
  .headerContainer .topHeader .topHeaderLeft {
    /* border: var(--border); */
    width: 10%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .headerContainer .topHeader .topHeaderLeft a {
    color: white;
    font-size: 1.9em;
    font-weight: 600;
  }
  
  .headerContainer .topHeader .topHeaderRight ul li a, .headerContainer .topHeader .topHeaderRight ul li select {
    /* border: var(--border); */
    display: none;
  }

  .headerContainer .topHeader .topHeaderRight ul li a.test{
    display: inline;
  }
  
  .headerContainer .topHeader .topHeaderRight ul li a.active {
    color: white;
    opacity: 100%;
    border-bottom: 2px solid var(--secondColor);
  }
  
  .headerContainer .topHeader .topHeaderRight ul li a {
    color: white;
    opacity: 60%;
    font-size: 1.3em;
  }
  
  .headerContainer .topHeader .topHeaderRight ul li a:hover {
    color: white;
    opacity: 100%;
    border-bottom: 2px solid var(--secondColor);
  }
  
  .headerContainer .topHeader .topHeaderRight ul li select {
    color: white;
    opacity: 60%;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
  }
  
  .headerContainer .topHeader .topHeaderRight ul li select:hover {
    color: white;
    opacity: 100%;
    border-bottom: 2px solid var(--secondColor);
  }
  
  .headerContainer .middleHeader {
    /* border: var(--border); */
    display: flex;
    flex-direction: column-reverse;
  }
  
  .headerContainer .middleHeader .middleHeaderLeft {
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .headerContainer .middleHeader .middleHeaderLeft h1 {
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
  
  .headerContainer .middleHeader .middleHeaderLeft p {
    color: white;
    opacity: 70%;
    font-size: 1.1em;
    margin: 2% 0;
  }
  
  .headerContainer .middleHeader .middleHeaderLeft .buttonHeader {
    /* border: 1px solid white; */
    height: 20%;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderlefItem1 {
    border: 1px solid rgba(255, 255, 255, 0.478);
    width: 50%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.478);
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.254);
    cursor: pointer;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderleftItem2 {
    width: 60%;
    height: 50%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.641);
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 2%;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderlefItem1:hover {
    border: 1px solid white;
    color: white;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderleftItem2:hover {
    color: white;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderItem2
    i {
    margin-right: 2%;
    font-size: 1.3em;
  }
  
  .bottomHeader{
    display: flex;
    flex-direction: column;
  }
  
  .bottomHeader .bottomHeaderItem {
    /* border: var(--border); */
    height: 25vh;
    width: 100%;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -270%;
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  .bottomHeader .bottomHeaderItem div i {
    font-size: 1.7em;
  }

  /* ---------------------------partie_about----------------------------------- */
  
  .about .aboutContainer{
    /* border: var(--border); */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: sp;
  }
  
  .about .aboutContainer .aboutLeft{
    text-align: center;
    margin-bottom: 10%;
  
  }
  
  .about .aboutContainer .aboutLeft img{
    width: 90%;
    height: 50%;
    border-radius: 2em;
    margin: 3% 0px;
  }
  
  .about .aboutContainer .aboutLeft p{
    width: 90%;
    text-align: justify;
    margin: 2% auto;
    font-size: small;
    color: rgba(0, 0, 0, 0.438);
  }
  
  .about .aboutContainer .aboutRight{
    /* border: 1px solid rgb(192, 42, 42); */
    margin: 3% auto;
    padding-top: 3%;
    border-top: 1px solid var(--mainColor);
  
  }
  
  .about .aboutContainer .aboutRight p{
    width: 90%;
    text-align: justify;
    margin: 2% auto;
    font-size: small;
    color: rgba(0, 0, 0, 0.438);
  }
  
  .about .aboutContainer .aboutRight ul{
    font-size: small;
    width: 90%;
    margin: 0 auto;
    line-height: 2em;
  }
  
  .about .aboutContainer .aboutRight ul i{
    color: var(--mainColor);
    margin-right: 2%;
  }
  
  .about .aboutContainer .aboutRight img{
    width: 90%;
    height: 50%;
    border-radius: 2em;
    margin: 3% 5%;
  }


  /* -------------------------partie Services-------------------------- */

  .service{
    margin-top: 20%;
  }
  
  .service .serviceContainer{
    /* border: var(--border); */
    display: grid;
    grid-template-columns: 100%  ;
    gap: 5%;
  }

  /* -------------------------partie Services-------------------------- */
  
  .portefolio{
    margin-top: 150%;
    margin-bottom: 230%;
  }

  .portefolio .menu{
    /* border: var(--border); */
    width: 100%;
    margin: 0 auto 2% auto;
  }
  
 

 
  
  .portefolio .portfolionContainer{
    /* border: var(--border); */
    height: 90%;
    display: grid;
    grid-template-columns: 100%;
    gap: 1%;
  }
  
  
  .portefolio .portfolionContainer .portfolionContainerItems{
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .image{
    height: 80% ;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .image img{
    height: 100%;
    width: 100%;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .detail{
    height: 20% ;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .detail h4{
    margin: 3% auto;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .detail p{
    color: rgba(0, 0, 0, 0.473);
    font-weight: 700;
  }
  
  

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  header{
    height: 150vh;
    width: 100%;
  }

  .headerContainer{
    width: 85%;
  }
  
  .headerContainer .topHeader .topHeaderLeft {
    /* border: var(--border); */
    width: 10%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .headerContainer .topHeader .topHeaderLeft a {
    color: white;
    font-size: 1.9em;
    font-weight: 600;
  }
  
  .headerContainer .topHeader .topHeaderRight ul li a, .headerContainer .topHeader .topHeaderRight ul li select {
    /* border: var(--border); */
    display: none;
  }
  
  .headerContainer .topHeader .topHeaderRight ul li a.active {
    color: white;
    opacity: 100%;
    border-bottom: 2px solid var(--secondColor);
  }
  
  .headerContainer .topHeader .topHeaderRight ul li a {
    color: white;
    opacity: 60%;
    font-size: 1.3em;
  }

  .headerContainer .topHeader .topHeaderRight ul li a.test{
    display: inline;
  }
  
  .headerContainer .topHeader .topHeaderRight ul li a:hover {
    color: white;
    opacity: 100%;
    border-bottom: 2px solid var(--secondColor);
  }
  
  .headerContainer .topHeader .topHeaderRight ul li select {
    color: white;
    opacity: 60%;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
  }
  
  .headerContainer .topHeader .topHeaderRight ul li select:hover {
    color: white;
    opacity: 100%;
    border-bottom: 2px solid var(--secondColor);
  }
  
  .headerContainer .middleHeader {
    /* border: var(--border); */
    display: flex;
    flex-direction: column-reverse;
  }
  
  .headerContainer .middleHeader .middleHeaderLeft {
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .headerContainer .middleHeader .middleHeaderLeft h1 {
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
  
  .headerContainer .middleHeader .middleHeaderLeft p {
    color: white;
    opacity: 70%;
    font-size: 1.1em;
    margin: 2% 0;
  }
  
  .headerContainer .middleHeader .middleHeaderLeft .buttonHeader {
    /* border: 1px solid white; */
    height: 20%;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderlefItem1 {
    border: 1px solid rgba(255, 255, 255, 0.478);
    width: 50%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.478);
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.254);
    cursor: pointer;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderleftItem2 {
    width: 60%;
    height: 50%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.641);
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 2%;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderlefItem1:hover {
    border: 1px solid white;
    color: white;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderleftItem2:hover {
    color: white;
  }
  
  .headerContainer
    .middleHeader
    .middleHeaderLeft
    .buttonHeader
    .buttonHeaderItem2
    i {
    margin-right: 2%;
    font-size: 1.3em;
  }
  
  .bottomHeader{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bottomHeader .bottomHeaderItem {
    /* border: var(--border); */
    height: 25vh;
    width: 40%;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -180%;
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.66);
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .bottomHeader .bottomHeaderItem div i {
    font-size: 1.7em;
  }


  /* -------------------------partie Services-------------------------- */

  .service{
    margin-top: 20%;
  }
  
  .service .serviceContainer{
    /* border: var(--border); */
    display: grid;
    grid-template-columns: 50% 50% ;
    gap: 5%;
  }

  /* -------------------------partie portfolio-------------------------- */
  .portefolio{
    margin-top: 15%;
    margin-bottom: 40%;
  }
  
  .portefolio .menu{
    /* border: var(--border); */
    width: 100%;
    margin: 0 auto 2% auto;
  }

  
  
  .portefolio h1 span{
    border-bottom: 3px solid var(--mainColor);
  }
  
  .portefolio .portfolionContainer{
    /* border: var(--border); */
    height: 90%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    
  }
  
  
  .portefolio .portfolionContainer .portfolionContainerItems{
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .image{
    height: 80% ;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .image img{
    height: 100%;
    width: 100%;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .detail{
    height: 20% ;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .detail h4{
    margin: 3% auto;
  }
  
  .portefolio .portfolionContainer .portfolionContainerItems .detail p{
    color: rgba(0, 0, 0, 0.473);
    font-weight: 700;
  }


  
    
}

@media screen and (min-width: 1024px) {
  .headerContainer .topHeader .topHeaderRight ul li a.test{
    display: none;
  }
}
